@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.material-icons {
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    font-size: 24px; /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: "liga";
}

.img-center {
    width: 100px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

html,
body {
    width: 100%;
    overflow-x: hidden;
}

html {
    overflow-y: hidden;
}

.content {
    max-width: 500px;
    margin: auto;
}

.audio-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
